@import "./custom_colors";

.is-active{
    max-height:70px;
}
.navbar {
 height:70px;
 border-bottom: 1px solid $custom-purple;
 

    .navbar-brand{
        .navbar-item{
            img {                
                max-height:50px;
                width:245px;
                margin-top:-7px;
                // border: 1px solid rgb(167, 24, 24);

            }
        }
    }
}

