@import "./custom_colors";

section{
    background-color: $custom-purple;
    height: calc(100% - 50px);
    padding: 0% 15% 15% 15%;
    // border: 2px solid black;
}

.card{
    padding: 3%;
}
